<%- include('header') %>

    <h1>Bienvenue, <%= userId %></h1>
    <h1>Votre référent est : <%= idEnseignantReferant %></h1>
    
    <h2>Liste de la scolarité :</h2>
    <table border="1">
        <tr>
            <th>ID Scolarité</th>
            <th>ID Classe</th>
            <th>Numéro Semestre</th>
            <th>Moyenne Semestre</th>
            <th>Année Scolaire</th>
            <th>ID Utilisateur</th>
        </tr>
        <% scolarite.forEach(function(scolariteItem) { %>
            <tr>
                <td><%= scolariteItem.id_scolarite %></td>
                <td><%= scolariteItem.id_classe %></td>
                <td><%= scolariteItem.numero_semestre %></td>
                <td><%= scolariteItem.moyenne_semestre %></td>
                <td><%= scolariteItem.annee_scolaire %></td>
                <td><%= scolariteItem.id_utilisateur %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
