<%- include('header') %>

<h1>Liste des élèves</h1>
    
<table border="1">
    <tr>
        <th>ID Utilisateur</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de Naissance</th>
        <th>Classe</th>
        <th>Responsable</th>
        <th>Saisir des notes</th>
        <th>Affecter un réfèrent</th>
    </tr>
    <% eleves.forEach(function(eleve) { %>
        <tr>
            <td><%= eleve.id_utilisateur %></td>
            <td><%= eleve.nom %></td>
            <td><%= eleve.prenom %></td>
            <td><%= eleve.date_naissance %></td>
            <td><%= eleve.libelle_classe %></td>
            <% const responsable = enseignants.find(enseignant => enseignant.id_utilisateur === eleve.id_responsable); %>
            <td><%= responsable ? responsable.nom + ' ' + responsable.prenom : 'Aucun' %></td>
            <td> <a href="/secretariat/saisirnotes?id_utilisateur=<%= eleve.id_utilisateur %>"> Ajouter</a></td>
            <td>
                <form action="/secretariat/affecterreferent" method="post">
                    <select name="id_responsable" id="id_responsable">
                        <% enseignants.forEach(function(enseignant) { %>
                            <option value="<%= enseignant.id_utilisateur %>"><%= enseignant.nom %> <%= enseignant.prenom %></option>
                        <% }); %>
                    </select>
                    <input type="hidden" name="id_eleve" value="<%= eleve.id_utilisateur %>">
                    <input type="submit" value="Affecter">
                </form>
            </td>
        </tr>
    <% }); %>
</table>
</body>
</html>
