<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des élèves</title>
</head>
<body>
    <h1>Liste des élèves</h1>
    
    <table border="1">
        <tr>
            <th>ID Utilisateur</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>ID Classe</th>
            <th>ID Rôle</th>
            <th>ID Responsable</th>
        </tr>
        <% eleves.forEach(function(eleve) { %>
            <tr>
                <td><%= eleve.id_utilisateur %></td>
                <td><%= eleve.nom %></td>
                <td><%= eleve.prenom %></td>
                <td><%= eleve.date_naissance %></td>
                <td><%= eleve.id_classe %></td>
                <td><%= eleve.id_role %></td>
                <td><%= eleve.id_responsable %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
